parsetab.py
parser.out
__pycache__/
.vscode/
.VSCodeCounter/
report/main.synctex.gz
report/svg-inkscape/
report/main.toc
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/.latexmkrc
report/_minted-main
output
*.out
!printer/images/AST.a.gv
!printer/images/AST.a.png
!printer/images/Symbol.a.gv
!printer/images/Symbol.a.png