parsetab.py
parser.out
__pycache__/
.vscode/*
!/.vscode/tasks.json
.VSCodeCounter/
report/main.synctex.gz
report/svg-inkscape/
report/main.toc
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/.latexmkrc
report/_minted-main
src/output/*
!src/output/a.iloc
!src/output/a.s
*.out
/src/printer/images/*
!/src/printer/images/AST.a.gv.png
!/src/printer/images/Symbol.a.gv.png