parsetab.py
parser.out
__pycache__/
.vscode/
.VSCodeCounter/
report/main.synctex.gz
report/svg-inkscape/
report/main.toc
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/.latexmkrc
report/_minted-main
test.py
test.s
a.out